<h1 class="text-3xl font-bold"><%= @movie.title %> (<%= @movie.year %>)</h1>





<div class="mt-6">
  <h2 class="text-2xl font-semibold mb-4">Reviews</h2>
  <div id="reviews">
    <% if @reviews.any? %>
      <% @reviews.each do |review| %>
        <%= render partial: 'movies/review', locals: { review: review, movie: @movie } %>
      <% end %>
    <% else %>
      <p>No reviews yet.</p>
    <% end %>
  </div>
</div>


<!-- Form to add a new review -->
<% if user_signed_in? %>
  <h3 class="text-xl font-semibold mt-6">Add a Review</h3>

<div id="review_form">
  <%= render partial: 'movies/review_form', locals: { movie: @movie, review: @review } %>
</div>

<% else %>
  <p class="mt-6">
    Please <%= link_to 'log in', new_user_session_path %> or <%= link_to 'sign up', new_user_registration_path %> to add a review.
  </p>
<% end %>

